html, body, style {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  text-align:center; 
}

h1{
  font-family:'Brush Script MT', cursive;
  font-size: 80px;
  color: #d6d6d6;
}
h2{
  font-size: 18px;
  font-family: Copperplate, Papyrus, fantasy;
  color: #d6d6d6; 
  bottom-padding:5%;
}
p{
  font-family: monospace;
  font-size: 12px;
  color: #d6d6d6;   
}

.blurb{
  font-style: italic;
  font-weight: bold;
}
