html, body, style {
  height: 100%;
  width: 100%;
  background-image: url("IMG_1922.jpg");  
  background-color: #cccccc;
  background-position:%20center;
  
}

h1,h2{
  font-family:'Brush Script MT', cursive;
  font-size: 80px;
  color: #d6d6d6;
  text-align:center;   
}
h2{
  font-size: 18px;
   font-family: Copperplate, Papyrus, fantasy;
}
p{
  font-family: monospace;
  font-size: 12px;
  color: #d6d6d6;
   text-align:center;   
}

.blurb{
  font-style: italic;
  font-weight: bold;
}
